PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://sevita:0987651234@cluster0.qvaxfbm.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=24h
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRE=7d
AI_API_KEY=your_ai_key
UPLOAD_PATH=./uploads
